.table td {
  vertical-align: unset;
}

.data-grid-wrapper {
  height: 80vh;
  width: 100%;
  overflow: scroll;
}

.optimal-standard-color {
  background-color: rgb(26 145 2 / 50%);
}

.optimal-standard-color:hover {
  background-color: rgb(26 145 2 / 70%) !important;
}

.alternative-optimal-standard-color {
  background-color: rgb(255 149 0 / 60%);
}

.alternative-optimal-standard-color:hover {
  background-color: rgb(247, 165, 70) !important;
}
