.login-box {
  background-color: #ffffffe0;
  width: 28rem;
  max-width: 28rem;
  border-radius: 10px;
  margin: 0 auto;
  transform: translate(0%, 35%);
  box-shadow: 0 0px 14px rgb(0 0 0 / 50%);
  overflow: hidden;
}

.background-image {
  background-image: url("/public/images/login_background.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir todo el elemento */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.custom-title {
  font-family: "Poppins", sans-serif !important;
  margin-top: 15px;
  color: black;
  font-size: 3rem;
}

.text-buttons {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 575px) {
  .login-box {
    width: 100%;
  }
}
