.color-explanation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.optimal-standard {
  border: 0.5px solid black;
  margin-left: 5px;
  height: 20px;
  width: 40px;
  background-color: rgb(26 145 2 / 50%);
}

.alternative-optimal-standard {
  border: 0.5px solid black;
  margin-left: 5px;
  height: 20px;
  width: 40px;
  background-color: rgb(255 149 0 / 60%);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-filter > div {
  min-width: 350px;
}

@media only screen and (max-width: 768px) {
  .add-system-button > button {
    display: none;
  }
}

@media only screen and (max-width: 1070px) {
  .color-explanation-wrapper {
    flex-direction: column;
  }
}
